{# CSS #}

{# Webfonts #}
{% include "fonts.njk" %}

{# Bootstrap... #}
<link
  href="{%- if isdevelopment -%}
    /static/vendor/bootstrap-5.3.2/dist/css/bootstrap.css
  {%- else -%}
    https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
  {%- endif -%}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{%- if isdevelopment -%}
    /static/vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.css
  {%- else -%}
    https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css
  {%- endif -%}"
  rel="stylesheet"
  type="text/css"
/>

{# Owl-carousel #}
<link
  href="{%- if isdevelopment -%}
    /static/vendor/owl-carousel-2.3.4/assets/owl.carousel.css
  {%- else -%}
    https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css
  {%- endif -%}"
  rel="stylesheet"
  type="text/css"
/>
{# Code highlight styles #}
<link
  href="{%- if isdevelopment -%}
    /static/vendor/prismjs@1.20.0/themes/prism-okaidia.css
  {%- else -%}
    https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css
  {%- endif -%}"
  rel="stylesheet"
  type="text/css"
/>

{# Compiled styles #}
<link rel="stylesheet" href="/compiled-assets/styles.css" />
