{# Preloads #}
{% if showHero %}
  <link rel="preload" as="image" href="/projects/2025/march-tales/hero-preview-1.png" />
  <link rel="preload" as="image" href="/projects/2025/tubecaster-telegram-bot/hero-preview-1.png" />
{% endif %}
