{# Preload fira font (is it required?)
<link
  rel="preload"
  href="/static/vendor/webfonts/fira/FiraCode-Regular-subset.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="stylesheet" href="/assets/styles/fira-font.css" />
#}
<link
  href="/static/vendor/webfonts/fira/FiraCode-Regular-subset.woff2"
  rel="stylesheet"
  type="text/css"
/>

{% if isdevelopment %}
  <link href="/static/vendor/webfonts/roboto/300.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/webfonts/roboto/400.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/webfonts/roboto/500.css" rel="stylesheet" type="text/css" />
  <link href="/static/vendor/webfonts/roboto/700.css" rel="stylesheet" type="text/css" />
{% else %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@300;400;500;700&display=swap"
    rel="stylesheet"
  />
  {#
    Full link for the google font: -
    https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap
    Get customized link: - https://fonts.google.com/selection/embed
  #}
{% endif %}
