<!--
@desc Misc helper macros
@changed 2024.06.20, 01:08
-->

{% macro video(src, width, height, muted = true, loop = false) %}
  <video
    width="{{ width }}"
    height="{{ height }}"
    controls
    {{ "muted" if muted }}
    {{ "loop" if loop }}
    playsinline
    preload="metadata"
  >
    <source src="{{ src }}.av1.mp4" type="video/mp4; codecs=av01.0.05M.08" />
    <source src="{{ src }}.h264.mp4" type="video/mp4" />
  </video>
{% endmacro %}

{% macro img(src, alt = '') %}
  <img src="{{ src }}" alt="{{ alt }}" loading="lazy" decoding="async" />
{% endmacro %}

{% macro imgFigure(src, text = '', alt = '') %}
  <figure>
    {{ img(src, alt or text) }} <figcaption>{{ text }}</figcaption>
  </figure>
{% endmacro %}

{% macro ArticleThumb(path, title = '', description = '', tag = 'h3') %}
  <div class="ArticleThumb">
    <a href="{{ path }}">
      <img class="ArticleThumbImg" src="{{ path }}/thumb.png" />
      <div class="ArticleThumbContent">
        {%- if title -%}
          <{{ tag }} class="ArticleThumbTitle">{{ title }}</{{ tag }}>
        {%- endif -%}
        {%- if description -%}
          <p class="ArticleThumbDescription">{{ description }}</p>
        {%- endif -%}
      </div>
    </a>
  </div>
{% endmacro %}

