{% set treshold = "md" %}

<nav
  id="PageHeader"
  class="PageHeader navbar fixed-top navbar-dark navbar-expand-{{ treshold }} onRed"
>
  <div class="PageHeaderWrapper">
    <div
      class="PageHeaderBrand gap-1"
      data-aos="fade-right"
      data-aos-duration="600"
      data-aos-delay="100"
    >
      <button
        id="toggleNavigation"
        aria-controls="navbarNavigation"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler collapsed"
        data-bs-target="#navbarNavigation"
        data-bs-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      {% include "PageHeaderLogo.njk" %}
      <div
        class="PageHeaderNavigation navbar-collapse collapse"
        id="navbarNavigation"
        -data-aos="fade-left"
        -data-aos-duration="600"
        -data-aos-delay="100"
      >
        {% include "PageMenu.njk" %}
        {% include "PageHeaderToolbar.njk" %}
      </div>
    </div>
  </div>
</nav>
