<div class="PageHeaderLogo">
  <a href="/"
    ><img
      class="Logo"
      src="/static/images/logo/full/ll-logo-wx.svg"
      height="50"
      width="auto"
      alt="{{ site.title }}"
  /></a>
</div>
