<ul class="PageHeaderToolbar">
  {# <li>
    <a
      href="https://github.com/lilliputten/lilliputten-11ty-site/blob/main/{{ page.inputPath }}"
      target="_blank"
      title="Edit page on github"
      ><i class="bi bi-pencil"></i
    ></a>
  </li> #}
  <li>
    <a href="" onclick="window.toggleTheme(); return false" title="Toggle color theme"
      ><i class="bi bi-brightness-high-fill theme-dark"></i
      ><i class="bi bi-moon-stars-fill theme-light"></i
    ></a>
  </li>
</ul>
