<div class="PageHeaderLogo">
  <a href="/" class="Logo"
    ><!--div
      class="Logo"
      src="/static/images/logo/full/ll-logo-wx.svg"
      height="auto"
      width="200"
      alt="{{ site.title }}"
  /--></a
  >
</div>
