<ul class="PageHeaderToolbar">
  {#
  <li><a href=""><i class="bi bi-github"></i></a></li>
  <li><a href=""><i class="bi bi-brightness-high-fill"></i></a></li>
  <li><a href=""><i class="bi bi-moon-stars-fill"></i></a></li>
  #}
  {% if not isIndex %}
    <li>
      <a
        href="https://github.com/lilliputten/lilliputten-11ty-site/blob/main/{{ page.inputPath }}"
        target="_blank"
        title="Edit page on github"
        ><i class="bi bi-pencil"></i
      ></a>
    </li>
  {% endif %}
  <li>
    <a href="javascript:window.toggleTheme()" title="Toggle color theme"
      ><i class="bi bi-brightness-high-fill theme-dark"></i
      ><i class="bi bi-moon-stars-fill theme-light"></i
    ></a>
  </li>
</ul>
