<div class="SidePanelWrapper navbar-collapse collapse" id="navbarNavigation">
  <div
    class="SidePanelBackdrop"
    aria-controls="navbarNavigation"
    aria-expanded="false"
    aria-label="Side panel backdrop"
    class="navbar-toggler"
    data-bs-target="#navbarNavigation"
    data-bs-toggle="collapse"
  ></div>
  <div class="SidePanelContent">
    <button
      id="toggleNavigation"
      class="navbar-toggler close-button"
      aria-controls="navbarNavigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-target="#navbarNavigation"
      data-bs-toggle="collapse"
      type="button"
    >
      <i class="bi bi-x-lg"></i>
    </button>
    {% include "PageHeaderLogo.njk" %}
    {% include "PageMenu.njk" %}
    {% include "PageHeaderToolbar.njk" %}
  </div>
</div>
