<ul class="SidePanelToolbar navbar-nav">
  <li class="nav-item">
    <a
      href=""
      class="nav-link"
      aria-controls="navbarNavigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-target="#navbarNavigation"
      data-bs-toggle="collapse"
      onclick="window.toggleTheme(); return false"
      id="theme"
      title="Toggle color theme"
      ><i class="bi bi-brightness-high-fill theme-dark"></i
      ><i class="bi bi-moon-stars-fill theme-light"></i> <span>Toggle color theme</span></a
    >
  </li>
</ul>
