<div class="TopHero" data-aos="fade-down" data-aos-duration="800" data-aos-delay="0">
  <div class="slick-carousel hero-slides" data-carousel-type="heroWide">

    <div class="hero-slide" id="march-tales">
      heroWide
      march-tales
    </div>

    <div class="hero-slide" id="tubecaster">
      heroWide
      march-tales
    </div>

  </div>
</div>

