# ex: set ft=conf :

/.dependencygraph
/.git
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/public
/public-src
/publish
/types
/utils

package-lock.*
**/*_

# This project...
/static/
/.github/
/static/
/compiled-assets/

/*.md

# Ignore specific files (prettier can't deal with jinja iside script tags)
/src/sitemap.njk
/src/includes/sw.njk
/src/includes/macros.njk
/src/includes/inline-root-scripts.njk
# Ignore article, as it has conditional `<div...>` and `</div>`
/src/layouts/article.njk
