@import '../shared';

.MainPageContent {
  &.Article {
    position: relative;
    padding: 0 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    max-width: $mainColumnWidth;
    /* // NOTE: It's not used now
     * .MainPageLogo {
     *   margin: 0 auto;
     *   transition: all $transitionTimeMs;
     *   opacity: 0.7;
     *   width: 100%;
     *   max-width: 30em;
     *   .key {
     *     fill: black;
     *     [data-theme='dark'] & {
     *       fill: white;
     *     }
     *   }
     *   .red {
     *     fill: $primaryColor;
     *   }
     * }
     */
    .MainPageDescription {
      position: relative;
      a {
        border-radius: 4px;
        display: inline-block;
        border: 1px dashed $primaryColor;
        padding: 0 6px;
        margin: 2px 4px;
        text-decoration: none;
        &:hover {
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }
}
