/**
 * @module MainPage
 * @changed 2024.06.14, 02:08
 */

@import '../shared';

.MainPageWrapper,
.MainPageContent,
.MainPage {
  @include FullSizeContainer;
  border: 0;
  padding: 0;
  margin: 0;
}
