{#
Providing assets to support visualization on the main page

@see:
- https://cdnjs.com/libraries/three.js

- https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.cjs
- https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.module.js
- https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.module.min.js

https://cdn.rawgit.com/mrdoob/three.js/r83

<script type="importmap">
  {
    "imports": {
      "three": "https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@<version>/examples/jsm/"
    }
  }
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r54/three.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r54/three.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.js"></script>
#}

<script
  src="{% if isdevelopment %}/static/vendor/three.js-r128/three.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js{% endif %}"
  type="text/javascript"
></script>

<script
  src="{% if isdevelopment %}/static/vendor/simplex-noise-2.4.0/simplex-noise.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js{% endif %}"
  type="text/javascript"
></script>

<script
  src="{% if isdevelopment %}/static/vendor/chroma-js-2.0.3/chroma.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js{% endif %}"
  type="text/javascript"
></script>

{#
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.module.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
#}
