<script
  src="{% if isdevelopment %}/static/vendor/three.js-r128/three.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js{% endif %}"
  type="text/javascript"
></script>

<script
  src="{% if isdevelopment %}/static/vendor/simplex-noise-2.4.0/simplex-noise.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js{% endif %}"
  type="text/javascript"
></script>

<script
  src="{% if isdevelopment %}/static/vendor/chroma-js-2.0.3/chroma.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js{% endif %}"
  type="text/javascript"
></script>
