@import '../shared';

.dimmed {
  opacity: 0.5;
}

.primaryColor {
  color: $primaryColor;
}
.primaryBgColor {
  background-color: $primaryColor;
}

.errorIcon {
  font-size: 3rem;
  opacity: 0.1;
}

// .Article a[target='_blank'],
a.mail,
a.external {
  &:after {
    transition: opacity $transitionTimeMs;
    opacity: 0.7;
    margin-left: 0.25em;
    display: inline-block;
    line-height: 1;
  }
}
// .Article a[target='_blank'],
a.external {
  &:after {
    content: '\f143'; // bootstrap icon arrow-up-right-square: https://icons.getbootstrap.com/icons/arrow-up-right-square/
    font-family: bootstrap-icons, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: -0.15em;
  }
}
