/**
 * @module PageFooter
 * @changed 2024.06.16, 22:58
 */

@import '../shared';

.dimmed {
  opacity: 0.5;
}

.maxWidthContainer {
  $widthTreshold: $screenMdMin;
  @media (min-width: $widthTreshold) {
    max-width: calc($widthTreshold - 64px);
  }
}
