@import '../shared';

.shots-slider {
  $height: 400px;
  $plusHeight: 32px;
  grid-template-columns: 1fr 700px 1fr;
  grid-column: 1 / -1;
  .owl-stage {
    max-height: calc($height + $plusHeight);
    overflow: hidden;
  }
  figure {
    display: block;
    img {
      height: $height;
      margin-bottom: 0.5em;
      border-radius: 10px;
    }
    figcaption {
      font-style: italic;
      max-width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      opacity: 0.5;
      text-align: left;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }
  }
  @media (width < 600px) {
    $height: 500px;
    .owl-stage {
      max-height: calc($height + $plusHeight);
    }
    figure img {
      height: $height;
    }
  }
  @media (width < 500px) {
    $height: 400px;
    .owl-stage {
      max-height: calc($height + $plusHeight);
    }
    figure img {
      height: $height;
    }
    figure figcaption {
      display: none;
    }
  }
  @media (width < 400px) {
    $height: 300px;
    .owl-stage {
      max-height: calc($height + $plusHeight);
    }
    figure img {
      height: $height;
    }
  }
  @media (width < 300px) {
    $height: 200px;
    .owl-stage {
      max-height: calc($height + $plusHeight);
    }
    figure img {
      height: $height;
    }
  }

  // Owl dot Active color overide
  .owl-dots {
    .owl-dot {
      &:hover {
        span {
          background: $primaryColor;
        }
      }

      &.active {
        span {
          background: $primaryColor;
        }
      }
    }
  }
}
