/**
 * @module bodyThemes
 * @changed 2024.06.15, 21:46
 */

@use 'sass:color';

@import '../shared';

// Themes...

[theme='light'] body {
  background-color: $backgroundColor;
}
.onLight,
body,
[theme='light'] body {
  color: $defaultTextColor;
}

[theme='dark'] body {
  background-color: $backgroundDarkColor;
}
.onRed,
.onDark,
[theme='dark'] body {
  color: $defaultTextOnDarkColor;
  a {
    $color: #fff;
    color: $color;
    // transition: color $$transitionTimeMs;
    &:hover {
      color: color.adjust($color, $alpha: -0.2);
    }
  }
}
.onRed {
  color: color.mix($primaryColor, #fff, 20%);
}
