@use 'sass:color';

@import '../shared';

.noise {
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 300ms;
  opacity: 0;
  &.show {
    opacity: 0.2;
    [data-theme='dark'] & {
      opacity: 0.1;
    }
  }
  &:before {
    content: '';
    position: fixed;
    top: -150%;
    left: -150%;
    bottom: -150%;
    right: -150%;
    // height: 600%;
    // width: 600%;
    border: 2px solid green;
    background-image: url('/static/images/background/noise.png');
    background-size: 200px;
    background-repeat: repeat;
  }
  &.animated {
    &:before {
      animation: grain 30s steps(10) infinite;
    }
  }
}

@keyframes grain {
  0%,
  to {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
