# @changed 2025.06.25, 03:55

Options -Indexes

RewriteEngine on

# Redirects for CV pdfs
RewriteBase "/static/docs/"
RewriteRule "cv-lilliputten-2024-v1-1-1.pdf" "cv-lilliputten-2025-v1-en.pdf" [R=301,L]

