@use 'sass:color';

@import '../shared';

.Article .ArticleHeadThumb {
  display: inline-block;
  width: $articleThumbSize;
  height: $articleThumbSize;
  background-color: color.change(gray, $alpha: 0.5);
  border-radius: 10px;
  filter: grayscale(10%) brightness();
}
