@use 'sass:color';

@import '../shared';

.Article {
  margin: 1em auto;
  width: 100%;

  // Grid layout
  display: grid;
  grid-template-columns: 1fr $mainColumnWidth 1fr;
  grid-gap: 0 1em;
  align-items: center;

  @media (max-width: $maxColumnWidth) {
    grid-gap: 0;
  }

  @media (max-width: $mainColumnMaxWidth) {
    grid-template-columns: $mobileBorderWidth 1fr $mobileBorderWidth;
  }

  > * {
    grid-column: 2 / span 1;
  }

  p {
    overflow-wrap: anywhere;
  }

  *:not(pre) code {
    display: inline-block;
    border: 1px solid color.change(gray, $alpha: 0.2);
    border-radius: 3px;
    $padding: 0.4em;
    padding-left: $padding;
    padding-right: $padding;
    margin: 0 0.1em;
    // color: #888;
    color: $primaryColor;
    overflow-wrap: anywhere;
  }
  > pre {
    // Stylize code blocks as regular elements...
    margin-top: 0;
    margin-bottom: 1em;
    border-radius: 10px;
    transition: all $transitionTimeMs;
    filter: grayscale(20%) brightness(1.1);
    html[data-theme="dark"] {
      filter: grayscale(5%) brightness(0.9);
    }
    &:hover {
      filter: grayscale(0%) brightness(1);
    }
  }

  ul,
  ol {
    &:not(.ArticleTags, .ArticleBreadcrumbs) {
      li {
        margin: 0.5em 0;
      }
    }
  }

  table {
    border-spacing: 2px;
    border-collapse: separate;
    $cellHPadding: 1em;
    $cellVPadding: 1em;
    $thVPadding: 1.5em;
    th,
    td {
      padding: $cellVPadding $cellHPadding;
    }
    th {
      background-color: color.change($primaryColor, $alpha: 0.85);
      color: #fff;
      font-weight: normal;
      padding-top: $thVPadding;
      padding-bottom: $thVPadding;
      margin-bottom: $thVPadding;
    }
  }

  h1,
  h2,
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .ArticleHead {
    margin-bottom: 2rem;
  }
  .ArticleFooter {
    margin-top: 2.5rem;
  }
  .ArticleTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  .ArticleDescription {
    letter-spacing: 0.1rem;
    font-style: italic;
  }
  .ArticleMeta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em 1em;
    opacity: 0.7;
    .metaItem {
      span {
        opacity: 0.7;
      }
    }
  }
  .ArticleTags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em 0.2em;
    li {
      display: inline-block;
      &.tagsTitle {
        opacity: 0.5;
        margin-right: 0.2em;
      }
    }
    a {
      text-decoration: none;
      opacity: 0.8;
      padding: 0.2em 0.4em;
      background-color: color.change(gray, $alpha: 0.15);
      border-radius: 3px;
      span {
        opacity: 0.3;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .ArticleBreadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.4em;
    li {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        transition: all $transitionTimeMs;
        &:not(.home):not(:hover) {
          @include LinkAsText;
        }
        &:not(:hover) {
          text-decoration: none;
          opacity: 0.5;
        }
        &.home {
          text-decoration: none;
          margin-right: 0.2em;
          $size: 1em;
          width: $size;
          height: $size;
          background-image: url('/static/images/logo/sq/ll-cir-tr-r.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          &:not(:hover) {
            opacity: 0.7;
          }
        }
      }
    }
    li + li.hasParent {
      &:before {
        display: inline-block;
        content: '›';
        opacity: 0.3;
        margin-right: 0.3em;
      }
    }
  }
  figure {
    margin: 0;
    gap: 0.5em;
    margin-bottom: 1em;

    figcaption {
      margin-top: 0.5em;
    }

    // Grid layout
    @media (min-width: $maxColumnWidthWithGap) {
      // Caption at left...
      grid-template-columns: 1fr $mainColumnWidth 1fr;
      grid-column: 1 / -1;
      grid-gap: 0 1em;
      display: grid;
      figcaption {
        margin-top: 0;
        max-width: $maxSideColumnWidth;
        // Caption at left...
        margin-left: auto;
        padding-left: 1em;
        text-align: right;
      }
    }
    @media (max-width: $maxColumnWidthWithGap) {
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      box-shadow: 0 0 1px 0 gray;
      max-width: 100%;
      &:not(.carousel-lazy) {
        height: auto;
      }
      display: inline-block;
      transition: all $transitionTimeMs;
      filter: grayscale(20%) brightness(1.2);
      border-radius: 10px;
      html[data-theme="dark"] {
        filter: grayscale(10%) brightness(0.9);
      }
      &:hover {
        filter: grayscale(0) brightness(1);
      }
    }
    figcaption {
      opacity: 0.75;
      font-size: 95%;
      font-style: italic;
      font-weight: 300;
    }
  }
  // Misc styles...
  & {
    ::marker {
      color: $primaryColor;
    }
    .commentLeft,
    .commentRight,
    .comment {
      opacity: 0.5;
      font-style: italic;
    }
    @media (min-width: $maxColumnWidth) {
      .commentLeft {
        grid-column: 1 / span 1;
        padding-left: 1em;
        text-align: right;
        max-width: $maxSideColumnWidth;
      }
      .commentRight {
        grid-column: 3 / span 1;
        padding-right: 1em;
        max-width: $maxSideColumnWidth;
      }
      .commentPaddedTop {
        position: relative;
        top: 2em;
      }
    }
  }
}
