/**
 * @module article
 * @changed 2024.06.18, 05:01
 */

@use 'sass:color';

@import '../shared';

.Article {
  margin-top: 1em;
  h1,
  h2,
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .ArticleHead {
    margin-bottom: 2rem;
  }
  .ArticleFooter {
    margin: 2rem 0;
    margin-top: 2.5rem;
  }
  .ArticleTitle {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  // .ArticleDescription {
  // }
  .ArticleMeta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em 1em;
    opacity: 0.7;
    .metaItem {
      span {
        opacity: 0.7;
      }
    }
  }
  .ArticleTags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em 0.2em;
    // font-size: 95%;
    li {
      display: inline-block;
      &.tagsTitle {
        opacity: 0.5;
        margin-right: 0.2em;
      }
    }
    a {
      text-decoration: none;
      opacity: 0.8;
      padding: 0.2em 0.4em;
      background-color: color.change(gray, $alpha: 0.15);
      border-radius: 3px;
      span {
        opacity: 0.3;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .ArticleBreadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    li {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        transition: all $transitionTimeMs;
        &:not(.home):not(:hover) {
          @include LinkAsText;
        }
        &:not(:hover) {
          text-decoration: none;
          opacity: 0.5;
        }
        &.home {
          text-decoration: none;
          $size: 1em;
          width: $size;
          height: $size;
          background-image: url('/static/images/logo/sq/ll-cir-tr-r.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          &:not(:hover) {
            opacity: 0.7;
          }
        }
      }
    }
    li + li.hasParent {
      &:before {
        display: inline-block;
        content: '>';
        opacity: 0.5;
        margin-right: 0.4em;
      }
    }
  }
  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    img {
      box-shadow: 0 0 1px 0 gray;
      max-width: 100%;
      height: auto;
      display: inline-block;
      transition: all $transitionTimeMs;
      filter: grayscale(30%) brightness(0.95);
      border-radius: 4px;
      opacity: 0.95;
      &:hover {
        filter: grayscale(30%) brightness();
        opacity: 1;
      }
    }
    figcaption {
      // font-size: 95%;
      opacity: 0.75;
      font-weight: 300;
    }
  }
  // Misc styles...
  & {
    ::marker {
      color: $primaryColor;
    }
    .comment {
      opacity: 0.5;
      letter-spacing: 0.1rem;
    }
  }
}
