/**
 * @module article
 * @changed 2024.06.18, 05:01
 */

@use 'sass:color';

@import '../shared';

.Article {
  ::marker {
    color: $primaryColor;
  }
  h1,
  h2,
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .ArticleHead {
    margin-bottom: 2rem;
  }
  .ArticleFooter {
    margin: 2rem 0;
    margin-top: 2.5rem;
  }
  // .ArticleTitle {
  //   // margin-bottom: 2rem;
  // }
  // .ArticleDescription {
  // }
  .ArticleMeta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em 1em;
    opacity: 0.7;
    .metaItem {
      span {
        opacity: 0.7;
      }
    }
  }
  .ArticleTags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em 0.2em;
    // font-size: 95%;
    li {
      display: inline-block;
      &.tagsTitle {
        opacity: 0.5;
        margin-right: 0.2em;
      }
    }
    a {
      text-decoration: none;
      opacity: 0.8;
      padding: 0.2em 0.4em;
      background-color: color.change(gray, $alpha: 0.15);
      border-radius: 3px;
      span {
        opacity: 0.3;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    img {
      box-shadow: 0 0 1px 0 gray;
      max-width: 100%;
      height: auto;
      display: inline-block;
      transition: filter $transitionTimeMs;
      filter: grayscale(30%) brightness(0.95);
      &:hover {
        filter: grayscale(30%) brightness();
      }
    }
    figcaption {
      // font-size: 95%;
      opacity: 0.75;
      font-weight: 300;
    }
  }
}
