---
layout: list.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - withTags
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: 'Pages for #{{ tag }}'
permalink: /tags/{{ tag | slug }}/
---
