---
layout: page.njk
---

<article class="Article">
  <div class="ArticleHead">
    {% include "navigationBreadcrumbs.njk" %}
    <h1 class="ArticleTitle">{{ title }}</h1>
    {% if not hideMeta %}
      <div class="ArticleMeta">
        {% if page.date %}
          <time
            class="metaItem articleDatetime"
            datetime="{{ page.date.toISOString() }}"
            title="Document date"
            ><span>Date:</span> {{ page.date | readableDate }}</time
          >
        {% endif %}
        <div
          class="metaItem articleMinutesToRead"
          title="With an average speed of 200 words per minute"
        >
          <span>Time to read:</span> {{ content | readingTime({"speed": 200}) }}
        </div>
        {#
      <a
        href="https://github.com/lilliputten/lilliputten-11ty-site/blob/main/{{ page.inputPath }}"
        class="ArticleGithub"
        >Edit this page on GitHub</a
      >
      #}
      </div>
    {% endif %}
  </div>
  {{ content | safe }}
  <div class="ArticleFooter">
    {% if tags %}
      <ul class="ArticleTags tags">
        <li class="tagsTitle">Tags:</li>
        {%- for tag in tags | filterTags -%}
          <li class="tagsItem">
            <a class="linkAsText" href="/tags/{{ tag }}/">{{ tag }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}
    {#
    <div class="ArticleShare">
      If you like the article, you can
      <a
        class="ArticleShareButton"
        href="https://twitter.com/intent/tweet?text={{ title }} by @{{ site.twitter }}&url={{ site.paths.site }}{{ page.url }}"
        target="_blank"
        rel="noopener"
        >share it on Twitter</a
      >
    </div>
    #}
    {% set previousPost = collections.chunk | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.chunk | getNextCollectionItem(page) %}
    <div class="ArticleNav">
      {# TODO! #}
      {% if previousPost %}
        <a href="{{ previousPost.url }}" class="ArticleNavButton articlePrev"
          >{{ previousPost.data.title }}</a
        >
      {% endif %}
      {% if nextPost %}
        <a href="{{ nextPost.url }}" class="ArticleNavButton articleNext"
          >{{ nextPost.data.title }}</a
        >
      {% endif %}
    </div>
  </div>
  {#
  <div class="ArticleWebmentions">
    {% include 'webmentions.njk' %}
  </div>
  #}
</article>
