<!doctype html>
<!--
@changed 2024.06.07, 20:26
Version: 0.0.1
Last changes timestamp: 2024.06.12 02:28 +0500
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ renderData.title or title }}{% if not isIndex %}— {{ site.title }}{% endif %}</title>

    {# <meta name="color-scheme" content="dark light"> #}
    {# <meta name="theme-color" content="#cc2222" media="(prefers-color-scheme: light)"> #}
    {# <meta name="theme-color" content="#880088" media="(prefers-color-scheme: dark)"> #}

    <meta name="description" content="{{ description or site.description }}" />
    <meta name="keywords" content="lilliputten" />

    <meta name="generator" content="Eleventy" />

    {% include "favicon.njk" %}
    {% include "meta-open-graph.njk" %}
    {% include "meta-rss.njk" %}
    {% include "meta-webmentions.njk" %}

    <link rel="author" href="{{ site.paths.site }}/humans.txt" />

    {# CSS #}

    <link
      href="{%- if isdevelopment -%}/static/vendor/bootstrap-5.3.2/css/bootstrap.css{%- else -%}https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css{%- endif -%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{%- if isdevelopment -%}/static/vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.css{%- else -%}https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css{%- endif -%}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Webfonts -->
    {% include "fonts.njk" %}
    <link rel="stylesheet" href="/compiled-assets/styles.css" />
  </head>
  <body
    class="Page {%- if not isIndex -%}PageRegular{%- else -%}MainPage{%- endif -%}"
    id="{%- if not isIndex -%}regular{%- else -%}main{%- endif -%}"
  >
    {{ content | safe }}

    {# Bootstrap #}
    <script
      src="{% if isdevelopment %}/static/vendor/popperjs-2.11.8/popper.min.js{% else %}https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js{% endif %}"
      type="text/javascript"
    ></script>
    <script
      src="{% if isdevelopment %}/static/vendor/bootstrap-5.3.2/js/bootstrap.js{% else %}https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js{% endif %}"
      type="text/javascript"
    ></script>

    {% include "main/assets.njk" %}

    {# AMD/RequireJS (Used after bootstrap due to conflicts) #}
    <script
      data-main="scripts"
      data-require="require.js@2.3.6"
      data-semver="2.3.6"
      src="{% if isdevelopment %}/static/vendor/requirejs-2.3.6/require.js{% else %}https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js{% endif %}"
      type="text/javascript"
    ></script>

    {% if isdevelopment %}
      <script>
        window.isDev = true;
      </script>
    {% endif %}

    {% if isIndex %}
      <script>
        window.isIndex = true;
      </script>
    {% endif %}

    <script type="text/javascript" src="assets/scripts/require.js"></script>

    <script type="text/javascript" src="/compiled-assets/scripts.js"></script>

    {# // UNUSED: Old requirejs entry point
    <script>
      function onLoad() {
        if (typeof window.requirejs !== 'undefined') {
          window.requirejs(['scripts']);
        } else {
          console.error('Not found AMD/RequireJS modules support');
        }
      }
      window.addEventListener('load', onLoad);
    </script>
    #}

    {# {% include "sw.njk" %} #}
  </body>
</html>
