<!doctype html>
<!--
@changed 2026.01.26, 15:50
Version: 0.0.21
Last changes timestamp: 2026.01.27 01:21:56 +0300
-->
<html
  lang="en"
  data-page="{%- if not isIndex -%}regular{%- else -%}main{%- endif -%}"
  data-layout="{{ layout | replace('.njk', '') }}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ renderData.title or title }}
      {% if not isIndex %}— {{ site.title }}{% endif %}
    </title>
    <meta name="color-scheme" content="dark light" />
    <meta name="description" content="{{ description or site.description }}" />
    <meta name="keywords" content="lilliputten,front-end,full-stack,web,developer,{{ tags }}" />
    <meta name="generator" content="Eleventy" />
    {% include "favicon.njk" %}
    {% include "meta-open-graph.njk" %}
    {% include "meta-rss.njk" %}
    {% include "meta-webmentions.njk" %}
    <link rel="author" href="{{ site.paths.site }}/humans.txt" />
    {% include "base-preloads.njk" %}
    {% include "base-styles.njk" %}
    <script>
      // NOTE: Prevent firefox FOUC...
      var FF_FOUC_FI;
    </script>
  </head>
  <body class="Page page__body {% if showHero %}withHero{% endif %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z01LD05S3B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-Z01LD05S3B');
    </script>
    {# Base content #}
    {{ content | safe }}
    {% include "inline-root-scripts.njk" %}
    {% include "base-scripts.njk" %}
  </body>
</html>
