---
layout: base.njk
---

<div class="PageVisual" id="PageVisual">
  <canvas class="VisualAnimation" id="VisualAnimation"></canvas>
</div>
{% include "PageHeader.njk" %}
<main class="PageContentLayout page__content">
  {# Main page content #}
  {{ content | safe }}
</main>
{% include "PageFooter.njk" %}
{# {% if not isdevelopment %} #}
  <div id="noise" class="noise animated"></div>
{# {% endif %} #}
