---
layout: layout.njk
---

<article
  class="Article MainPageContent"
  data-aos="zoom-in-down"
  data-aos-duration="1000"
  data-aos-delay="200"
>
  {#
  {% include "MainPageLogo.njk" %}
  #}

  <div class="MainPageDescription">
    {# Main page content #}
    {{ content | safe }}
  </div>
</article>

{# // DEMO
<p>Test page content <a href="/about/">link</a></p>
{% for i in range(0,3) %}
  <p>Demo line {{ i + 1 }}</p>
{% endfor %}
#}
