---
layout: base.njk
---

<div class="MainPageWrapper">
  {# {% include "header.njk" %} #}

  <main class="MainPageContent">
    {# {{ content | safe }} #}

    <canvas id="background"></canvas>

    <div class="MainPageMenu">
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </div>
  </main>

  {# {% include "footer.njk" %} #}
</div>
