---
layout: base.njk
---

<div class="page__main">
  {# {% include "header.njk" %} #}

  <main class="page__content page__content-main">{{ content | safe }}</main>

  {# {% include "footer.njk" %} #}
</div>
