/**
 * @module PageHeaderLogo
 * @changed 2024.06.17, 22:22
 */

@use 'sass:color';

@import '../shared';

.PageHeaderLogo {
  display: flex;
  align-items: center;
  .Logo {
    display: inline-block;
    width: 100%;
    max-height: 4rem;
    // @media (min-width: $screenSmMin) {
    // }
  }
  [data-page='main'] & {
    width: 1.75em;
    opacity: 0;
    pointer-events: none;
    * {
      display: none;
    }
  }
}
