/**
 * @module Page
 * @changed 2024.06.18, 04:02
 */

@import '../shared';

.PageContent {
  padding-top: 1em;
  max-width: 100%;
  [data-page='main'] & {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .article {
  }
}
