/**
 * @module PageFooter
 * @changed 2024.06.15, 21:58
 */

@import '../shared';

.PageFooter {
  [data-page='regular'] & {
    border-top: 1px solid $primaryColor;
  }
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  font-size: 95%;

  a:not(:hover) {
    text-decoration: none;
  }

  .FooterInfo {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .FooterCopyright {
    .delimiter {
      opacity: 0.3;
      padding: 0 0.25em;
      display: inline-block;
    }
  }

  .SocialList {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: max-content;
    display: flex;
    gap: 1em;
  }
  .SocialListLink {
    align-items: center;
    gap: 0.5em;
    display: inline-flex;
    // color: $defaultTextColor;
    // [data-theme='dark'] & {
    //     color: $defaultTextColor;
    // }
    i {
      opacity: 0.5;
    }
  }
}
