@use 'sass:color';

@import '../shared';

.PageHeaderLogo {
  flex: 2;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 3.5rem;
  .wideView & {
    width: 25vw;
    max-width: 20em;
  }
  .mobileView.showNavigation & {
    display: none;
  }

  .Logo {
    display: inline-block;
    width: 100%;
    background-image: url('/static/images/logo/full/ll-logo-wx.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all $animationTimeMs;
    .wideView & {
      background-position: left center;
    }
    & {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
