/**
 * @module Page
 * @changed 2024.06.14, 02:08
 */

@import '../shared';

.Page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 0;
  padding: 0;
  margin: 0;
}

.PageLayout {
  @include PageWrapper;
  align-items: stretch;
  flex: 1;
}

.PageVisual,
.PageVisualOver,
.VisualAnimation {
  z-index: $overContentZIndex;
  @include FullSizeContainer;
  [data-page='main'] & {
    position: absolute;
  }
}

.PageContentLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: $headerHeight;
  .showNavigation &,
  [data-page='main'] .wideView & {
    margin-top: $headerHeightMain;
  }
}

.PageContentWrapper,
.PageContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.PageContentWrapper {
  padding-top: 1em;
  align-items: center;
}

.PageVisual {
  position: fixed;
  overflow: hidden;
  bottom: auto;
  // Adjust main height
  height: 250px;
  .showNavigation &,
  [data-page='main'] .wideView & {
    height: 90%;
  }
  background: linear-gradient(180deg, $primaryColor 0%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
}
.PageVisualOver {
  overflow: hidden;
  opacity: 0.5;
  display: none;
}
