@use 'sass:color';

@import '../shared';

.PageHeaderToolbar {
  display: flex;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;

  $itemSize: 2em;

  html:not([data-theme]) & .theme-dark,
  html:not([data-theme='dark']) & .theme-dark,
  html[data-theme='dark'] & .theme-light {
    display: none;
  }

  a {
    width: $itemSize;
    height: $itemSize;
    border-radius: 50%;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    .onRed & {
      opacity: 0.85;
    }
    &,
    & i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &,
    & i {
      transition: all $transitionTimeMs;
    }
    &:hover {
      opacity: 1;
      background-color: color.change(#fff, $alpha: 0.1);
      i {
        transform: scale(1.25);
      }
    }
    &:active {
      background-color: color.change(#fff, $alpha: 0.5);
    }
  }
}
