@import '../shared';

.PageHeader {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1em;

  // Adjust main height
  padding-top: 1em;
  padding-bottom: 2.5em;

  // Adaptive sizes...
  height: $headerHeight;

  [data-page='main'] .wideView & {
    justify-content: center;
    top: 1rem;
  }

  .PageHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 700px;
  }

  [data-page='regular'] :not(.wideView) & {
    .PageHeaderWrapper {
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  .wideView & {
    .PageHeaderBrand {
      margin-left: -1.2vw;
      margin-right: -1.2vw;
    }
  }

  .PageHeaderBrand {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex: 1;
    .navbar-toggler {
      align-items: center;
      justify-content: center;
      $size: 2.75em;
      height: $size;
      width: $size;
      border: 0;
      box-shadow: none;
    }
  }

  .PageHeaderContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1em;
  }
}
